VITE_FIREBASE_API_KEY=AIzaSyDPYUcr2PU_64NulxT2lZuMq7P9wtOWlIs
VITE_FIREBASE_AUTH_DOMAIN=devpool-forge.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=devpool-forge
VITE_FIREBASE_STORAGE_BUCKET=devpool-forge.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=507346805722
VITE_FIREBASE_APP_ID=1:507346805722:web:8dc32ea0b2e7ad13b996e3
